absl_py==1.4.0
addict==2.4.0
albumentations==1.3.1
azure_storage==0.37.0
batchgenerators==0.25
black==23.3.0
boto3==1.26.160
botocore==1.29.160
certifi==2020.6.20
click==7.1.2
coremltools==6.3.0
crc32c==2.3.post0
data_preprocessing==0.0.2
deepspeed==0.9.5
dill==0.3.6
docutils==0.16
evaluate==0.4.0
fastapi==0.99.1
fastavro==1.7.4
Flask==1.1.2
gensim==4.3.1
graphviz==0.8.4
h5py==3.9.0
haiku==0.01
httpx==0.24.1
idx2numpy==1.2.3
inplace_abn==1.1.0
ipython==8.14.0
jax==0.4.13
matplotlib==3.7.1
ml_collections==0.1.1
monai==1.2.0
mpi4py==3.1.4
multiprocess==0.70.14
mxnet==1.9.1
nacl==0.0.0
networkx==2.8.8
nltk==3.8.1
nnunet==1.7.1
numpy==1.25.0
numpy==1.19.5
nvidia_ml_py3==7.352.0
onnx==1.14.0
onnxruntime==1.15.1
onnxsim==0.4.33
openvino==2023.0.1
optax==0.1.5
packaging==23.1
pafy==0.5.5
paho_mqtt==1.6.1
pandas==2.0.2
peft==0.3.0
Pillow==8.1.2
Pillow==10.0.0
protobuf==3.19.6
psutil==5.8.0
ptflops==0.7
pyarrow==12.0.1
pycocotools==2.0.6
pydantic==1.10.9
pytablewriter==1.0.0
pytest==7.4.0
pyupgrade==3.8.0
PyYAML==6.0
PyYAML==6.0
redis==4.5.5
Requests==2.31.0
scikit_learn==1.2.2
scipy==1.11.1
seaborn==0.12.2
sentence_transformers==2.2.2
seqeval==1.2.2
setproctitle==1.3.2
setuptools==52.0.0
six==1.16.0
skimage==0.0
spacy==3.5.3
Sphinx==7.0.1
SQLAlchemy==2.0.17
tensorflow==2.10.0
tensorflow_docs==2023.5.24.56664
tensorflow_federated==0.60.0
tensorflowjs==4.8.0
tensorrt==8.6.1
tflite_runtime==2.12.0
thop==0.1.1.post2209072238
torch_geometric==2.3.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.30.2
tritonclient==2.34.0
Werkzeug==1.0.1
wget==3.2
wheel==0.34.2
